@model PointOpeOsaaminen.Models.Osaaminen

@{
    ViewBag.Title = "Details";
}

    <h2 style="text-align:center"><b>Osaamisen Opettajat</b></h2>

    <div>
        <h4><i>Osaaminen: @Html.DisplayFor(model => model.Osaaminen)</i></h4>
        <h4><i>Kuvaus: @Html.DisplayFor(model => model.Kuvaus)</i></h4>
    </div>
    <div style="height: 200px; overflow: auto; background-color:azure">
        <table class="table">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Opettaja.Etunimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opettaja.Sukunimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opettaja.Henkilönumero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opettaja.Yksikkö)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opettaja.Toimenkuva)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Opettaja.Etunimi)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Opettaja.Sukunimi)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Opettaja.Henkilönumero)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Opettaja.Yksikkö)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Opettaja.Toimenkuva)
                </td>
                <td>
                    @Html.ActionLink("Yhteystiedot", "")
                </td>
            </tr>

        </table>
        <p>
            @Html.ActionLink("Takaisin", "Index")
        </p>
    </div>
    
