@model IEnumerable<PointOpeOsaaminen.Models.OpettajaOsaaminen>

@{
    ViewBag.Title = "Index";
}

<h2>Opettajan osaamiset</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<table class="table" style="background-color:azure">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opettaja.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osaaminen.OpenOsaaminen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osaaminen.Kuvaus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opettaja.Etunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osaaminen.OpenOsaaminen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osaaminen.Kuvaus)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OpettajaOsaamisID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OpettajaOsaamisID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OpettajaOsaamisID })
                </td>*@
        </tr>
    }

</table>

