@model PointOpeOsaaminen.ViewModel.OpettajaOsaaminenViewModel

@{
    ViewBag.Title = "Details";
}
<body style="background:url(/Images/OpettajaKuva.png)">
    <h2>Details</h2>

    <div>
        <h4>Opettaja</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Etunimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpettajaModelliin.Etunimi)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Sukunimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpettajaModelliin.Sukunimi)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Sähköposti)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpettajaModelliin.Sähköposti)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Henkilönumero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpettajaModelliin.Henkilönumero)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Yksikkö)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpettajaModelliin.Yksikkö)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Toimenkuva)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpettajaModelliin.Toimenkuva)
            </dd>
            <dt>
                @Html.LabelFor(model => model.OpenOsaaminen)
            </dt>
            @if (Model.TamanOpenOsaamiset.Count() != 0)
            {
            @*<dd>

                @Html.ListBoxFor(m => m.ValitutOpettajat,
                             new MultiSelectList(Model.TamanOpenOsaamiset, "OsaamisID", "OpenOsaaminen"))
            </dd>*@
                <dd>
                    @Html.DropDownListFor(n => n.OsaamisID,
                        new SelectList(Model.TamanOpenOsaamiset, "OsaamisID", "OpenOsaaminen"))


                </dd>
                }
            </dl>
    </div>
</body>
    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.OpettajaModelliin.OpettajaID }) |
        @Html.ActionLink("Takaisin", "Index")
    </p>
