<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="BackGround/schoolBG.png">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#002d72">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pääsivu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="width:1530px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Opettajat", "Index", "Opettajat")</li>
                    <li>@Html.ActionLink("Osaamiset", "Index", "Osaamisen")</li>
                    <li>@Html.ActionLink("Yhteystiedot", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Logout", "Käyttäjät")">Kirjaudu ulos</a></li>
                </ul>
            </div>
            <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:#002d72">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Ilmoita ongelmasta", "Index", "Error/ErrorView")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    

    



    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
