@model IEnumerable<PointOpeOsaaminen.Models.Yhteistiedot>

@{
    ViewBag.Title = "Index";
}
@*<h2 style="text-align:center"><b>@ViewBag.Title</b></h2>*@
<h2 style="text-align:center"><b>Yhteystiedot</b></h2>
<body style="background:url(/Images/YhteystiedotKuva.png)">


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-hover, table-striped" style="background-color:azure">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuhelinNumero)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sukunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sähköposti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuhelinNumero)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OpettajaID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OpettajaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OpettajaID })
            </td>
        </tr>
    }

</table>
</body>