@model PointOpeOsaaminen.Models.Käyttäjät

@{
    Layout = null;
}
<div class="container">
    <div style="text-align:center" class="table-responsive">
        <img src="~/Kuvat/logo 2.jpg" />
    </div>
</div>
<!DOCTYPE html>

    <html>   
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Index</title>
            <style>
                #Login-div {
                    position: absolute;
                    left: 40%;
                    top: 30%;
                    border: 1px solid #ccc;
                    padding: 10px 10px;
                    background-color: lightsteelblue
                }

                .field-Validation-error {
                    color: red;
                }
            </style>
        </head>
        <body background="Images/LoginSnip.png">
            <div id="Login-div">
                <hd1 style="text-align:center; font-family:Arial; padding-left:30px"><b>Opettajien Osaamisrekisteri</b></hd1>
                @using (Html.BeginForm("Authorise", "Käyttäjät", FormMethod.Post))

                {

                    <table>
                        <tr>
                            <td>@Html.LabelFor(a => a.KäyttäjäTunnus)</td>

                            <td> @Html.TextBoxFor(a => a.KäyttäjäTunnus)</td>
                            <td> @Html.ValidationMessageFor(a => a.KäyttäjäTunnus)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(a => a.Salasana)</td>
                            <td> @Html.TextBoxFor(a => a.Salasana)</td>
                            <td>
                                @Html.ValidationMessageFor(a => a.Salasana)
                            </td>
                        </tr>
                        <tr>
                            <td colspan=" 2">
                                <label class=" field-Validation-error">@Html.DisplayFor(a => a.Loginerror)</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Kirjaudu sisään" />
                            </td>
                            <td></td>
                        </tr>

                    </table>
                }
                <script src="~/Scripts/jquery-3.3.1.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


            </div>
        </body>
</html>

